<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asucomputerengineeringteam.finalcafeteriaandroidmobileapp2017">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/food_icon"
        android:supportsRtl="true"
        android:label="Cafeteria Online"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Authentication.LoginActivity"
            android:label="Login " />
        <activity
            android:name=".Authentication.SignupActivity"
            android:label="Sign Up" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="Settings" />
        <activity
            android:name=".Activities.CategoriesActivity"
            android:label="Category" />
        <activity
            android:name=".Activities.MenuItemsActivity"
            android:label="MenuItem" />
        <activity
            android:name=".Activities.MenuItemDetailsActivity"
            android:label="Item Details" />
        <activity
            android:name=".Activities.OrderStatusActivity"
            android:label="Orders" />
        <activity
            android:name=".Activities.HelpActivity"
            android:label="Help" />
        <activity
            android:name=".Activities.CafeteriaActivity"
            android:label="Cafeterias" />
        <activity android:name=".Activities.BasketActivity"
            android:label="Basket" />
        <activity android:name=".Activities.EditActivity"
            android:label="Edit Your Menu" />
        <activity android:name=".Activities.OrderStatusDetails"
            android:label="Order Status" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

     <!--   <activity
            android:name=".Services.GoogleMapsActivity"
            android:label="@string/title_activity_google_maps"></activity>-->
    </application>

</manifest>